//Font
$mainFont: 'Roboto', sans-serif;
$lightFont: '';
$regularFont: '';
$mediumFont: '';
$boldFont: '';
$mainFontColor: #101010;

//Size
$mainFontSize: 10px;
$mainFontWeight: 400;

$desktopWidth: 1170px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$phoneWidth: 414px;
$smPhoneWidth: 320px;

//Colors
$goldColor: #ceaa63;
